In [ ]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import math

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#load data
adultData = pd.read_csv('/content/drive/MyDrive/School/d. Undergrad/Year 2/Spring/CSC 240/adult.data',sep = ',')

This assignment is about similarity/dissimilarity/distance in heterogeneous data sets and is based largely on your lecture discussions of distance measurements.

1. For each attribute in the data set, design and program a similarity metric. This is a function that takes in two values' attribute balues and returns a result in the interval [0,1], 0 meaning "not similar at all", and 1 meaning "similar.
2. Write a function that takes two entire records (two rows from the database) and returns a result in the interval [0,1].
3. You should hand in a pdf that includes 15 subsections - one for each attribute, and one for the overall function. Each section should contain a short (no more than one paragraph) of how the function works, why your strategy makes sense for htat attribute, and the code for the function itself (not the entire program).

The options for dissimilarity computations:
1. Binary
> *   Symmetric
> *   Asymmetric (Jaccard Coefficient)

2. Numeric 
> * Euclidian Distance (as the crow flies)
> * Manhattan Distance (city blocks)
> * Minkowski Distance (generalization of Euclidian and Manhattan)
> * Supremum Distance (Chebyshev distance)

3. Ordinal
> * Rankings (then compute as numeric)

In [ ]:
adultData.info()
adultData.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
def minMax(minA,maxA,val):
  return (val-minA)/(maxA-minA)

The age method takes the difference between the two normalized age values passed to the function.

In [ ]:
#age
def ageComp(one, two):
  min = 17
  max = 90
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

Because the workclass variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#workclass
def workclassComp(classA, classB):
  if(classA==classB):
    return 1
  else:
    return 0

The fnlwgt method takes the difference between the two normalized age values passed to the function.

In [ ]:
#fnlwgt
def fnlwgtComp(one, two):
  min = 1.228500e+04
  max = 1.484705e+06
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

Because the education variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#education
def educationComp(one,two):
  if(one==two):
    return 1
  else:
    return 0

The educationNum method takes the difference between the two normalized age values passed to the function.

In [ ]:
#educationNum
def educationNumComp(one, two):
  min = 1
  max = 16
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

Because the maritalStatus variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#marital status
def maritalStatusComp(classA, classB):
  if(classA==classB):
    return 1
  else:
    return 0

Because the occupation variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#Occupation
def occupationComp(one, two):
  if(one==two):
    return 1
  else:
    return 0

Because the race variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#race
def raceComp(classA, classB):
  if(classA==classB):
    return 1
  else:
    return 0

Because the sex variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#sex
def sexComp(classA, classB):
  if(classA==classB):
    return 1
  else:
    return 0

Because the relationship variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#relationship
def relationshipComp(classA, classB):
  if(classA==classB):
    return 1
  else:
    return 0

The capitalGain method takes the difference between the two normalized age values passed to the function.

In [ ]:
#capital-gain
def capitalGainComp(one, two):
  min = 0
  max = 99999
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

The capitalLoss method takes the difference between the two normalized age values passed to the function.

In [ ]:
#capital-loss
def capitalLossComp(one, two):
  min = 0
  max = 4356
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

The hoursPerWeek method takes the difference between the two normalized age values passed to the function.

In [ ]:
#hours-per-week
def hoursPerWeekComp(one, two):
  min = 1
  max = 99
  return 1 - (abs(minMax(min,max,one) - minMax(min,max,two)))

Because the nativeCountry variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#native-country
def nativeCountryComp(one, two):
  if(one==two):
    return 1
  else:
    return 0

Because the salary variable is nominal, we chose to measure difference by equivalence; that is, it returns 1 if the classes are the same, and 0 if the classes are different.

In [ ]:
#salary
def salaryComp(one,two):
  if(one==two):
    return 1
  else:
    return 0

We chose to use euclidean distance to take the values from two entire records in the data set and return the distance between them. We then divided the euclidean distance by 15 to normalize the distance value, bringing it to a range of [0,1].

In [ ]:
def euclideanDist(rowIndexOne,rowIndexTwo):
  Age = ageComp(adultData.iloc[rowIndexOne][0],adultData.iloc[rowIndexTwo][0])
  Workclass = workclassComp(adultData.iloc[rowIndexOne][1],adultData.iloc[rowIndexTwo][1])
  Fnlwgt = fnlwgtComp(adultData.iloc[rowIndexOne][2],adultData.iloc[rowIndexTwo][2])
  Education = educationComp(adultData.iloc[rowIndexOne][3],adultData.iloc[rowIndexTwo][3])
  EducationNum = educationNumComp(adultData.iloc[rowIndexOne][4],adultData.iloc[rowIndexTwo][4])
  MaritalStatus = maritalStatusComp(adultData.iloc[rowIndexOne][5],adultData.iloc[rowIndexTwo][5])
  Occupation = occupationComp(adultData.iloc[rowIndexOne][6],adultData.iloc[rowIndexTwo][6])
  Relationship = relationshipComp(adultData.iloc[rowIndexOne][7],adultData.iloc[rowIndexTwo][7])
  Race = raceComp(adultData.iloc[rowIndexOne][8],adultData.iloc[rowIndexTwo][8])
  Sex = sexComp(adultData.iloc[rowIndexOne][9],adultData.iloc[rowIndexTwo][9])
  CapitalGain = capitalGainComp(adultData.iloc[rowIndexOne][10],adultData.iloc[rowIndexTwo][10])
  CapitalLoss = capitalLossComp(adultData.iloc[rowIndexOne][11],adultData.iloc[rowIndexTwo][11])
  HoursPerWeek = hoursPerWeekComp(adultData.iloc[rowIndexOne][12],adultData.iloc[rowIndexTwo][12])
  NativeCountry = nativeCountryComp(adultData.iloc[rowIndexOne][13],adultData.iloc[rowIndexTwo][13])
  Salary = salaryComp(adultData.iloc[rowIndexOne][14],adultData.iloc[rowIndexTwo][14])
  dist = math.sqrt((Age**2) + (Fnlwgt**2) + (Education**2) + (EducationNum**2) + (MaritalStatus**2) + (Occupation**2) + (Relationship**2) + (Race**2) + (CapitalGain**2) + (CapitalLoss**2) + (HoursPerWeek**2) + (NativeCountry**2) + (Salary**2))
  return (dist/15)